In [86]:
import numpy as np
import pandas as pd
import random as rnd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression,SGDClassifier,Perceptron
from sklearn.svm import SVC,LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier

In [69]:
train=pd.read_csv("train.csv")         # Load the data set
test=pd.read_csv("test.csv")
train.info()                           # check for null and dtype
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [70]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [71]:
train[['Pclass','Survived']].groupby(['Pclass'],as_index=False).mean().sort_values(['Survived'],ascending=False)  # Survived by Pclass

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [72]:
train[['Sex','Survived']].groupby(['Sex'],as_index=False).mean().sort_values(['Survived'],ascending=False)  # Survived by Sex

      Sex  Survived
0  female  0.742038
1    male  0.188908

In [73]:
train[['SibSp','Survived']].groupby(['SibSp'],as_index=False).mean().sort_values(['Survived'],ascending=False)  # Survived by SibSp

   SibSp  Survived
1      1  0.535885
2      2  0.464286
0      0  0.345395
3      3  0.250000
4      4  0.166667
5      5  0.000000
6      8  0.000000

In [91]:
train[['Parch','Survived']].groupby(['Parch'],as_index=False).mean().sort_values(['Survived'],ascending=False)  # Survived by Parch

   Parch  Survived
3      3  0.600000
1      1  0.550847
2      2  0.500000
0      0  0.343658
5      5  0.200000
4      4  0.000000
6      6  0.000000

In [92]:
train[['Embarked','Survived']].groupby(['Embarked'],as_index=False).mean().sort_values(['Survived'],ascending=False)  # Survived by Embarked

  Embarked  Survived
0        C  0.553571
1        Q  0.389610
2        S  0.336957

In [77]:
data=pd.concat([train,test],ignore_index=True)         #join train and test to get a single dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1046 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1308 non-null   float64
 10  Cabin        295 non-null    object
 11  Embarked     1307 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 122.8+ KB

In [89]:
label_encoder=LabelEncoder()

data['Embarked']=label_encoder.fit_transform(data['Embarked'])
data['Sex']=label_encoder.fit_transform(data['Sex'])

In [112]:

train['Age'].fillna(train['Age'].mean(), inplace=True)
train['Embarked'].fillna(train['Embarked'].mode()[0], inplace=True)
test['Age'].fillna(test['Age'].mean(), inplace=True)
test['Embarked'].fillna(test['Embarked'].mode()[0], inplace=True)

In [114]:
Y_train=train['Survived']
X_train=train[['Pclass', 'Sex', 'Age', 'SibSp','Parch','Embarked']]

X_test=test[['Pclass', 'Sex', 'Age', 'SibSp','Parch','Embarked']]

   Pclass     Sex   Age  SibSp  Parch Embarked
0       3    male  22.0      1      0        S
1       1  female  38.0      1      0        C
2       3  female  26.0      0      0        S
3       1  female  35.0      1      0        S
4       3    male  35.0      0      0        S

In [115]:
label_encoder=LabelEncoder()
X_train['Sex']=label_encoder.fit_transform(X_train['Sex'])

X_train['Embarked']=label_encoder.fit_transform(X_train['Embarked'])

X_test['Sex']=label_encoder.fit_transform(X_test['Sex'])

X_test['Embarked']=label_encoder.fit_transform(X_test['Embarked'])

<ipython-input-115-dc282ff4ceb9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Sex']=label_encoder.fit_transform(X_train['Sex'])
<ipython-input-115-dc282ff4ceb9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['Embarked']=label_encoder.fit_transform(X_train['Embarked'])
<ipython-input-115-dc282ff4ceb9>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['Sex']=label_encoder.fit_transform(X_test['Sex'])
<ipython-input-115-dc282ff4ceb9>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['Embarked']=label_encoder.fit_transform(X_test['Embarked'])

In [116]:
X_train.head()

   Pclass  Sex   Age  SibSp  Parch  Embarked
0       3    1  22.0      1      0         2
1       1    0  38.0      1      0         0
2       3    0  26.0      0      0         2
3       1    0  35.0      1      0         2
4       3    1  35.0      0      0         2

In [117]:
logistic_model=LogisticRegression()
logistic_model.fit(X_train,Y_train)

LogisticRegression()

In [125]:
Y_predicted=logistic_model.predict(X_test)
accuracy_logistic=round(logistic_model.score(X_train,Y_train)*100,2)
accuracy_logistic

80.36

In [126]:
PredictedResult=pd.DataFrame({'PassengerId':test.index+1,'Survived':Y_predicted})

In [127]:
PredictedResult

     PassengerId  Survived
0              1         0
1              2         0
2              3         0
3              4         0
4              5         1
..           ...       ...
413          414         0
414          415         1
415          416         0
416          417         0
417          418         0

[418 rows x 2 columns]

In [128]:
svc_model=SVC()
svc_model.fit(X_train,Y_train)
Y_predict=svc_model.predict(X_test)
accuracy_svc=round(svc_model.score(X_train,Y_train)*100,2)
accuracy_svc

63.97

In [129]:
rf_model=RandomForestClassifier()
rf_model.fit(X_train,Y_train)
Y_predict=rf_model.predict(X_test)
accuracy_rf=round(rf_model.score(X_train,Y_train)*100,2)
accuracy_rf

93.71

In [130]:
knn_model=KNeighborsClassifier()
knn_model.fit(X_train,Y_train)
Y_predict=knn_model.predict(X_test)
accuracy_knn=round(knn_model.score(X_train,Y_train)*100,2)
accuracy_knn

84.51

In [131]:
nb_model=GaussianNB()
nb_model.fit(X_train,Y_train)
Y_predict=nb_model.predict(X_test)
accuracy_nb=round(nb_model.score(X_train,Y_train)*100,2)
accuracy_nb

79.24

In [132]:
p_model=Perceptron()
p_model.fit(X_train,Y_train)
Y_predict=p_model.predict(X_test)
accuracy_p=round(p_model.score(X_train,Y_train)*100,2)
accuracy_p

57.8

In [136]:
sgd_model=SGDClassifier()
sgd_model.fit(X_train,Y_train)
Y_predict=sgd_model.predict(X_test)
accuracy_sgd=round(sgd_model.score(X_train,Y_train)*100,2)
accuracy_sgd

61.84

In [137]:
dt_model=DecisionTreeClassifier()
dt_model.fit(X_train,Y_train)
Y_predict=dt_model.predict(X_test)
accuracy_dt=round(dt_model.score(X_train,Y_train)*100,2)
accuracy_dt

93.71

In [142]:
model=pd.DataFrame({'Model':['Logistic Regression','Support Vector Machine','Random Forest','K Nearest Neighbors','Gaussian Naive Bayes','Perceptron','Stochastic Gradient Descent Classifier','Decision Tree'],'Score':[accuracy_logistic,accuracy_svc,accuracy_rf,accuracy_knn,accuracy_nb,accuracy_p,accuracy_sgd,accuracy_dt]})
model.sort_values(by='Score',ascending=False)

                                    Model  Score
2                           Random Forest  93.71
7                           Decision Tree  93.71
3                     K Nearest Neighbors  84.51
0                     Logistic Regression  80.36
4                    Gaussian Naive Bayes  79.24
1                  Support Vector Machine  63.97
6  Stochastic Gradient Descent Classifier  61.84
5                              Perceptron  57.80